<TabView
selectedIndex="0"
[(ngModel)]="tabIndex"
tabsBackgroundColor="#31bcff"
selectedColor="#fff"
color="#9EDDFF">
  <!-- Tab1 action bar + content -->
  <!-- *tabItem="{title: 'Page1', iconSource: tabIndex == 0 ? 'res://grid1' : 'res://grid'}" -->
  <StackLayout
  *tabItem="{title: 'Page1', iconSource: 'res://grid'}"
  color="black">
    <ActionBar
    *ngIf="tabIndex == 0"
    title="Page1"
    backgroundColor="#808080"
    color="white">
      <ActionItem ios.systemIcon="4"></ActionItem>
      <ActionItem ios.systemIcon="12" ios.position="right"></ActionItem>
    </ActionBar>
    <page1></page1>
  </StackLayout>
  <!-- Tab2 action bar + content -->
  <!-- *tabItem="{title: 'Page2', iconSource: tabIndex == 1 ? 'res://dock1' : 'res://dock'}" -->
  <StackLayout
  *tabItem="{title: 'Page2', iconSource: 'res://dock'}"
  color="black">
    <ActionBar
    *ngIf="tabIndex == 1"
    title="Page2"
    backgroundColor="#808080"
    color="white">
      <ActionItem ios.systemIcon="10"></ActionItem>
      <ActionItem ios.systemIcon="2" ios.position="right"></ActionItem>
    </ActionBar>
    <page2></page2>
  </StackLayout>
</TabView>
